/*Tag Selectors*/
body {
  margin: 0;
}

/*Class Selectors*/
.card{
  background: #EFEFBB;
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
  background: linear-gradient(to right, #D4D3DD, #EFEFBB);
  height: 20rem;
  margin: 5% 0 0 0;
}

.card-text-override{
  font-size: 0.8rem;
}

.div-description-hr{
  border: none;
  border-bottom-color: #f3f3f3;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.div-introduction {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  box-shadow: 10px 0 25px #393e46;
  height: 100vh;
  position: fixed;
  width: 20vw;
}

.div-introduction-hr{
  border: none;
  border-bottom-color: #393e46;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.div-introduction-contact{
  color: #eeeeee;
  margin: 0 10% 0 20%;
}

.div-introduction-quote{
  bottom: 10px;
  color: #eeeeee;
  font-style: italic;
  font-size: 0.7rem;
  padding: 10px;
  position: fixed;
  width: inherit;
}

.div-title{
  color: #eeeeee;
  font-family: 'Nunito', sans-serif;
  margin: 5% 10%;
}

.header-size-h3{
  font-size: 1.8rem;
}

.header-size-h5{
  font-size: 1rem;
}

.img-social{
  color: #aaaaaa;
  padding:6px 6px;
}

.img-social:hover{
  color: #eeeeee;
  cursor: pointer;
}

.my-description{
  /* background: #EFEFBB;
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
  background: linear-gradient(to right, #D4D3DD, #EFEFBB);  */



  color: #00005c;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 0 0 20vw;
  padding: 1% 5% 0 5%;
}

.my-img{
  margin: 5% 0 0 25%;
  width: 45%;
}

.other-skill-img{
  padding: 0 2%;
  width: 10%;
}

.png-background{
  background-color:#FFFFFF;
}

.section-header{
  color: #00B140;
  font-family: 'Montserrat', sans-serif;
  padding: 1% 0 1%;
}

.span-introduction-contact{
  font-size: 0.8rem;
}

/* Media Query */
@media (min-height: 1080px)
{
  .card{
    background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    height: 40rem;
    margin: 5% 0 0 0;
  }

  .card-text-override{
    font-size: 1.4rem;
  }

  .div-introduction {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    box-shadow: 10px 0 25px #393e46;
    display: inline-block;
    width: 100vw;
    position: static;
    height: 44%;
  }

  .header-size{
    font-size: 3rem;
  }

  .div-introduction-quote{
    color: #eeeeee;
    font-style: italic;
    font-size: 1.2rem;
    position: static;
    padding: 30px;
    width: inherit;
  }

  .div-title{
    color: #eeeeee;
    font-family: 'Nunito', sans-serif;
    margin: 5% 5%;
  }

  .header-size-h3{
    font-size: 4rem;
  }

  .header-size-h5{
    font-size: 2rem;
  }

  .img-social{
    color: #aaaaaa;
    font-size: 3rem;
    padding:10px 5%;
  }

  .my-description{
    /* background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);  */



    color: #00005c;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    margin: 2vh 2vw 0 2vw;
    padding: 1% 5% 0 5%;
  }

  .my-img{
    margin: 3% 0 0 35%;
    width: 25%;
  }

  .span-introduction-contact{
    font-size: 2rem;
  }
}
/*ID Selectors*/
